@keyframes spinner{
  100%{
    transform: rotate(3600deg);
  }
}
.container{
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}
.spinner{
  display: inline-block;
  width: 200px;
  height: 200px;
  background: url(https://www.respublica.ru/uploads/01/00/00/68/n7/large_8e0797a8a89b65ab.jpg) center center;
  background-size: contain;
  -webkit-background-size: contain;
  transform-origin: 50% 50% ;
  animation: spinner 8.3s infinite alternate ease-in-out;         /*начало анимации*/

}

