body {
  background-color: silver;
}
div {
  margin-top: 100px;
}
img {
  position: relative;
  left: 0;
  size: 40px;
    }
.start {
  position: relative;
  left: 50%;  
  height: 50px;
  width: 100px;
}
.reset {
  position: relative;
  left: 50%;  
  height: 50px;
  width: 50px;
  
}